.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  margin: 8px 30px;

  border-bottom: 2px solid $text-input-field;
  &__logo {
    text-decoration: none;
  }
}
.header-left {
  display: flex;
}
#header__list {
  display: flex;
}

#herder-icon {
  font-size: 30px;
  margin: auto 0;
  cursor: pointer;
}
@media (min-width: 769px) {
  #herder-icon {
    display: none;
  }
  #header__logo {
    display: flex;
    margin: auto 0;
  }
  #header__list {
    margin: 8px 0;
    margin-left: 40px;
  }
}

@media (max-width: 769px) {
  #header__logo {
    display: flex;
    margin: auto 0;
  }
  #header__list {
    display: none;
  }
}
@media (max-width: 769px) {
  .header {
    margin: 0;
  }
}
