.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  margin-bottom: 8px;
  border-bottom: 2px solid $text-input-field;
  &__logo {
    text-decoration: none;
  }
}

#herder-icon {
  font-size: 30px;
  margin: auto 0;
  cursor: pointer;
}
#search-icon {
  display: flex;
  justify-content: center;
  background-color: $text-input-field;
  font-variation-settings: "wght" 700;
  font-size: 25px;
  color: $very-light-pink;
  margin: auto 0;
}
