.list-categories__container::-webkit-scrollbar {
  display: none;
}
.list-categories__container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.list-categories--home {
  display: flex;

  &__item {
    list-style: none;
    padding: 6px 15px;
    color: $very-light-pink;
    white-space: nowrap;
  }
}
.active {
  color: $hospital-green;
  border: 1px solid $hospital-green;
  border-radius: 10px;
}
@media (min-width: 1076px) {
  .list-categories__container ul {
    display: none;
  }
}
