.menu-profile {
  &__icon {
    font-variation-settings: "FILL" 1;
    color: $very-light-pink;
    cursor: pointer;
    margin-right: 30px;
  }
  &__box {
    width: 250px;
    background-color: $white;
    position: absolute;
    border-radius: 4px;
    right: 30px;
    top: 76px;
    box-shadow: 1px 2px 15px 3px $very-light-pink;
  }
  .menu-profile__link {
    p {
      width: 100%;
      text-align: left;
      padding: 20px 40px;
    }
    p:hover {
      background-color: $text-input-field;
    }
  }
  .menu-profile__box__list .text {
    border-top: 1px solid $very-light-pink;
  }
}
@media (max-width: 1076px) {
  .menu-profile--header {
    display: none;
  }
}
