.my-orders {
  padding-bottom: 20px;
  &__title {
    text-align: center;
    padding: 30px 0 40px 0;
    font-size: 18px;
  }
}
.link-order {
  text-decoration: none;
  color: $dark;
  cursor: pointer;
  section {
    margin-bottom: 20px;
  }
}
.order-resume {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $text-input-field;
  border-radius: 12px;

  &__details {
    &__date {
      font-weight: bold;
    }
    &__item-number {
      color: $very-light-pink;
    }
  }
  &__total {
    font-weight: bold;
  }
}
