.product-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 400px;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
      font-size: 28px;
      padding-right: 14px;
    }
  }
  .product__img {
    max-width: 400px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
