.sidebar {
  position: fixed;
  width: 50vw;
  top: 66px;
  left: 0;
  height: 100%;
  background-color: $white;
  z-index: 1;

  &__list {
    list-style: none;
    padding-top: 20px;
    width: 100%;
    li {
      width: 100%;
      text-align: left;
      padding: 20px 20px;
    }
  }
}
