.sidebar {
  position: fixed;
  padding-top: 20px;
  width: 60vw;
  top: 66px;
  left: 0;
  height: 100%;
  background-color: $white;
  z-index: 1;
  &__title {
    padding-left: 40px;
  }
  &__list {
    box-sizing: border-box;
    list-style: none;
    padding-top: 20px;
    width: 100%;
    li {
      width: 100%;
      text-align: left;
      padding: 20px 40px;
    }
    .my-orders {
      padding-top: 40px;
    }
  }
  .menu-profile__box__link {
    text-align: left;
    padding-left: 40px;
  }
}
