.title {
  font-size: $lg;
  margin-bottom: 12px;
  text-align: center;
}
.subtitle {
  color: $very-light-pink;
  font-size: $md;
  font-weight: 300;
  margin: 0 16px;
  margin-bottom: 32px;
  text-align: center;
}
